extends ../shared/template

block content
  #inbox-wrapper
    if(messages)
      each message in messages
        .message-container
          .message-details
            .msg-from
              a(href='/users/profile/#{message.fromId}')
                .from-pic(style='background-image: url(#{message.fromUserPhoto})')
                p.inline.from From:
                p.inline.fromname #{message.fromUserName}
          .right.msg-reply
            a.fa.fa-reply(href='/messages/new/#{message.fromId}')
          .right.msg-delete
            form(method='POST', action='/messages/#{message._id}')
              button.msg-delete.fa.fa-trash-o
          .clear.border
          .message-content
            p= message.message
    if(messages.length === 0)
      h2 You currently have no messages to read
